.container {
  padding: 0 2rem;
}

.main {  
  display: flex;
  flex-flow: column;
  place-content: center;
  place-items: center;
  flex: 1;

  padding: 2rem 0;
  min-height: 100vh;

  h2 {
    font-size: 6vh;
    margin: 0 0 2rem 0;
  }
}

.footer {
  display: flex;
  place-content: center;
  place-items: center;
  flex: 1;

  padding: 2rem 0;

  border-top: 1px solid #eaeaea;


  a {
    display: flex;
    place-content: center;
    place-items: center;
    flex-grow: 1;
  }
}

.title {
  margin: 0;

  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.025em;
  line-height: 1.15;
  text-align: center;

  a {
    text-decoration: none;
    color: #0070f3;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.description {
  max-width: 50vw;
  margin: 0 0;

  color: white;
  font-size: 3vw;
  line-height: 1;
  text-align: center;
}

.code {
  padding: 0.75rem;

  border-radius: 5px;

  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 1.1rem;
  background: #fafafa;
}


@media (prefers-color-scheme: dark) {
  .title {
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  
    a {
      background: linear-gradient(180deg, #0070f3 0%, #0153af 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  .code {
    background: #111;
  }
}
